@import "tailwindcss";


@font-face {
  font-family: 'ABC';
  src: url('../public/fonts/ABCReproMono-Regular.otf');
}


@font-face {
  font-family: 'Albra';
  src: url('../public/fonts/AlbraGrotesk-Bold.otf');
}

@font-face {
  font-family: 'neue';
  src: url('../public/fonts/NeueMontreal-Light.otf') format('opentype');
}

@font-face {
  font-family: 'druk';
  src: url('../public/fonts/Druk-CondSuper.otf') format('opentype');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-[Albra];
}

p {
  @apply font-[neue];
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}